<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>trocenchere</display-name>
  <welcome-file-list>
    <welcome-file>ServletAccueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAccueil</display-name>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>trocenchere.servlet.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/ServletAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMonProfil</display-name>
    <servlet-name>ServletMonProfil</servlet-name>
    <servlet-class>trocenchere.servlet.ServletMonProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMonProfil</servlet-name>
    <url-pattern>/ServletMonProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModifierMonProfil</display-name>
    <servlet-name>ServletModifierMonProfil</servlet-name>
    <servlet-class>trocenchere.servlet.ServletModifierMonProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierMonProfil</servlet-name>
    <url-pattern>/ServletModifierMonProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletNouvelleVente</display-name>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <servlet-class>trocenchere.servlet.ServletNouvelleVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <url-pattern>/ServletNouvelleVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConnexion</display-name>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>trocenchere.servlet.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/ServletConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProfil</display-name>
    <servlet-name>ServletProfil</servlet-name>
    <servlet-class>trocenchere.servlet.ServletProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfil</servlet-name>
    <url-pattern>/ServletProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEnchere</display-name>
    <servlet-name>ServletEnchere</servlet-name>
    <servlet-class>trocenchere.servlet.ServletEnchere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEnchere</servlet-name>
    <url-pattern>/ServletEnchere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInscription</display-name>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>trocenchere.servlet.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/ServletInscription</url-pattern>
  </servlet-mapping>
</web-app>