<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>trocenchere</display-name>
  <welcome-file-list>
    <welcome-file>ServletAccueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAccueil</display-name>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>trocenchere.servlet.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/ServletAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMonProfil</display-name>
    <servlet-name>ServletMonProfil</servlet-name>
    <servlet-class>trocenchere.servlet.ServletMonProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMonProfil</servlet-name>
    <url-pattern>/ServletMonProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModifierMonProfil</display-name>
    <servlet-name>ServletModifierMonProfil</servlet-name>
    <servlet-class>trocenchere.servlet.ServletModifierMonProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierMonProfil</servlet-name>
    <url-pattern>/ServletModifierMonProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletNouvelleVente</display-name>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <servlet-class>trocenchere.servlet.ServletNouvelleVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <url-pattern>/ServletNouvelleVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConnexion</display-name>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>trocenchere.servlet.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/ServletConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProfil</display-name>
    <servlet-name>ServletProfil</servlet-name>
    <servlet-class>trocenchere.servlet.ServletProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfil</servlet-name>
    <url-pattern>/ServletProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEncherir</display-name>
    <servlet-name>ServletEncherir</servlet-name>
    <servlet-class>trocenchere.servlet.ServletEncherir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEncherir</servlet-name>
    <url-pattern>/ServletEncherir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInscription</display-name>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>trocenchere.servlet.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/ServletInscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAcquisition</display-name>
    <servlet-name>ServletAcquisition</servlet-name>
    <servlet-class>trocenchere.servlet.ServletAcquisition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAcquisition</servlet-name>
    <url-pattern>/ServletAcquisition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetailVenteFinEnchere</display-name>
    <servlet-name>ServletDetailVenteFinEnchere</servlet-name>
    <servlet-class>trocenchere.servlet.ServletDetailVenteFinEnchere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetailVenteFinEnchere</servlet-name>
    <url-pattern>/ServletDetailVenteFinEnchere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVendreUnArticle</display-name>
    <servlet-name>ServletVendreUnArticle</servlet-name>
    <servlet-class>trocenchere.servlet.ServletVendreUnArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVendreUnArticle</servlet-name>
    <url-pattern>/ServletVendreUnArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconnexion</display-name>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>trocenchere.servlet.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/ServletDeconnexion</url-pattern>
  </servlet-mapping>
</web-app>